.body{
    width:100%;
}
.wrapper{
    width: 350px;
    margin:0 auto;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }
.header{
    height: 100px;
}
.h1{
    float: left;
    height:100px;
    width: 150px;
    background-color: #FFFF66;
}
.h2{
    float: left;
    height:100px;
    width: 200px;
    background-color: #666666;
}
.main{
    height: 150px;
}
.m1{
    float: left;
    height: 150px;
    width: 150px;
    background-color: #FF3333;
}
.m2{
    float: left;
    height: 150px;
    width: 100px;
    background-color: #3366FF;
}
.m3{
    float: left;
    height: 150px;
    width: 100px;
    background-color: #669933;
}
.footer{
    height: 100px;
}
.f1{
    float: left;
    height: 100px;
    width: 150px;
    background-color: #ff9966;
}
.f2{
    float: left;
    height: 100px;
    width: 100px;
    background-color: #ffffcc;
}
.f3{
    float: left;
    height: 100px;
    width: 100px;
    background-color: #330066;
}